/* --------------------- FONT --------------------- */

@font-face {
  font-family: 'Norwester';
  src: url('fonts/norwester.woff2') format ('woff2'), url ('fonts/norwester.woff') format ('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------ GRIDS ------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class^='grid-col-'] {
  float: none;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.interests {
  vertical-align: top;
}

.grid-row {
  max-width: 60em;
  margin: auto;

  display: -webkit-box;   
  display: -moz-box;      
  display: -ms-flexbox;   
  display: -webkit-flex;  
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.grid-text {
  text-align: center;
}

/* extra padding for paragraph */
.grid-pad-left {
  padding-left: 1em;
}


/* column widths in mobile view */
.grid-col-1of10, .grid-col-2of10, .grid-col-3of10, 
.grid-col-4of10, .grid-col-5of10, .grid-col-6of10, 
.grid-col-7of10, .grid-col-8of10, .grid-col-9of10,
.grid-col-10of10, .grid-col-25, .grid-col-33, .grid-col-66 {
  width: 100%;
}


.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

/* column widths with bigger resolutions */
@media (min-width: 40em) {

  .grid-col-1of10{
    width: 10%;
  }

  .grid-col-2of10{
    width: 20.5%;
  }

  .grid-col-3of10 {
    width: 30%;
  }

  .grid-col-4of10 {
    width: 40%;
  }

  .grid-col-5of10 {
    width: 49.5%;
  }

  .grid-col-6of10 {
    width: 59%;
  }

  .grid-col-7of10 {
    width: 66%;
  }

  .grid-col-8of10 {
    width: 79%;
  }

  .grid-col-9of10 {
    width: 89%;
  }

  .grid-col-10of10 {
    width: 100%;
  }

  .grid-col-25 {
    width: 23%;
  }

  .grid-col-75 {
    width: 75%;
  }

  .grid-col-33 {
    width: 32.9%;
  }

  .grid-col-66 {
    width: 66%;
  }

  .grid-pad {
    padding: 0 1.5em;
  }
}



/* --------------------- HEADER --------------------- */
header {
  width: 100%;
  top: 0;
    position: absolute;
    z-index: 99;
}

nav {
  height: 7em;
  padding-top:2em;
  margin: 0 auto;
  vertical-align: middle;
}

nav a {
  font-family: 'Norwester';
  text-transform: uppercase;
  margin-left: 3em;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  color: #F00084;
}

nav a:first-child {
  margin-left: 0;
}

.nav-wrapper {
  width: 55%;
  margin: 0 auto;
  overflow: hidden;
}

/* regular logo */
.logo {
  display: inline-block;
  height: 4em;
  margin: 0 auto;
  padding: 1em 0;
}

/* navigation labels */
.sub-nav {
  float: right;
  display: table;
  line-height: 4em;
}


/* --------------------- STYLING --------------------- */

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background-size: contain;
  background-repeat: repeat;
  background-color: #FFF;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Norwester';
  font-size: 7em;
  color: #000;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-family: 'Norwester';
  font-size: 6em;
  color: #000;
  line-height: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-family: 'Norwester';
  font-size: 1.2em;
  line-height: 1.75em;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
}

.title-caption {
  font-family: 'PT sans', sans-serif;
  font-size: 1.75em;
  color: #000;
  font-weight: 700;
  line-height: 1.75em;
}

.sub-text {
  font-family: 'PT sans', sans-serif;
  font-size: 1.75em;
  color: #000;
  line-height: 1.75em;
  margin: 1em 0;
}

p {
  font-size: 1.25em;
  color: #000;
  line-height: 1.75em;
}

#light {
  color: #FFF;
}

.margin-top-adjust {
  margin-top: 0;
}

.margin-bot-adjust {
  margin-bottom: 0;
}

a {
  color: #000;
  border-bottom: solid 0.23m #F00084;
  padding-bottom: 0.25em;
  outline: none !important;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


a.hover:focus,
a.hover:active,
a.hover:hover,
.nav-dark .hover:focus,
.nav-dark .hover:active,
.nav-dark .hover:hover,
.nav-dark .selected
{
  color: #F00084;
}

nav .nav-light .hover:focus,
nav .nav-light .hover:active,
nav .nav-light .hover:hover,
.nav-light .selected {
    color: #FFF;
    border-bottom: solid 0.2em #FFF;
    padding-bottom: 0.25em;
}

.main-wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding-top: 4em 0;
}

.main-wrapper:first-of-type {
  padding-top: 0;
}

.first-wrapper {
    padding-top: 2em;
}

.content-wrapper {
  margin: 0 auto;
  display: block;
}

#title {
  margin: 0.25em 0;
}

#section-padding {
  padding-top: 6em;
}

#content-indent {
  padding-left: 3rem;
}

#img-min {
  min-width: 50em;
}

#img-left {
  direction: rtl
}

#align-top {
  vertical-align: top;
}

/* sections */

.section-content {
  width: 100%;
  overflow: hidden;
}

.section-hero {
  width: 100%;
  background-color: #0639AB;
  margin-top: 7em;
}

.section-main {
  max-width: 80%;
  margin: 0 auto;
}

.section-center {
  width: 50%;
  margin: 0 auto;
}

/* next project */

.next-project {
  text-align: right;
}

/* footer section */
.footer {
  width: 100%;
  height: auto;
  padding-bottom: 2em;
  padding-top: 5em;
  background-color: #EFEFEF;
  font-size: 0.85em;
}

.footer-section {
  width: 55%;
  margin: 0 auto;
  text-align: left;
}

.footer h1 {
  margin-bottom: 0;
}

.footer h3 {
  margin-bottom: 0.5em;
}

.footer p {
  margin-top: 0.5em;
}

.footer-caption p {
  color: #CCC;
  font-size: 1.2em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 1em;
}

.footer-align {
  width: 200px;
  vertical-align: top;
  float: right;
}


a .icon-hover {
  color: #021C1E;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


a .icon-hover:active,
a .icon-hover:focus,
a .icon-hover:hover {
  color: #CCA161;
}

.img-hero {
  min-width: 38em;
  overflow: hidden;
}




/* ------------------------------------ MAIN PAGE ---------------------------------------- */

/* fullscreen setup */
html, body {
  /* give this to all tags from html to .fullscreen */
  height:100%;
}
.fullscreen,
.content-a {
  width:100%;
  height:100%;
  overflow:hidden;
}

.fullscreen.overflow,
.fullscreen-overflow .content-a {
  height:auto;
  min-height:100%;
}


/* ------------------------------------ PROJECTS PAGE ---------------------------------------- */

#project-fut19-color1 {
  color: #1557E7;
}

#project-fut19-color2 {
  color: #12FCC5;
}

#project-fut19-color3 {
  color: #FF0068;
}

/* lightbox for images */
.lightbox img {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

/* hover on a picture */
.lightbox:hover img {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;

  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
}


.col-6of10-text-pad {
  padding-top: 20em;
}



/* --------------------- INTERACTION --------------------- */
.button {
  font-family: 'proxima_nova_rgbold';
  display: inline-block;
  padding: 0.5em;
  margin: 1em 0;
  color: #021C1E;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;

  border: solid 0.11em #021C1E;
  border-radius: 3px;
    
}

.button:hover, .button:active, .button-focus {
  padding: 0.5em;
  color: #FFF;
  background-color: #CCA161;
  border-color: #CCA161;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button-to-top {
  position: fixed;
  bottom: 0.5%;
  right: 1%;
  background-color: #FFF;
  z-index: 99;
}

.button-to-top-desktop {
  display: block;
}

.button-to-top-mobile {
  display: none;
}

.button-to-top-padding {
  padding-right: 0.5em;
}



/* --------------------- RESIZE --------------------- */

/* laptop size */
@media (max-width: 95em) {
  .main-wrapper, 
  .nav-wrapper,
  .footer-section {
    width: 90%;
  }

  .section {
    padding-top: 5.75em;
  }

  .logo {
    padding: 0.55em 0;
    height: 3em;
  }
    
}


/* smaller than 650px */
@media (max-width: 650px) {
  header {
    padding: 0;
    font-size: 0.85em;
  }

  .main-wrapper {
    width: 90%;
    padding: 2em 0;
  }
    
  nav {
    height: 6em;
    padding-top: 1em;
  }

  .nav-wrapper {
    width: 90%;
  }

  .logo {
    padding: 1em 0;
    height: 4em;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.5em;
  }

  .title-caption {
    font-size: 1.4em;
  }

  .sub-text {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  #content-indent {
    padding-left: 0;
  }

  .hero-section {
    margin-top: 5em;
  }

  .img-hero {
    padding-left: 30%;
  }

  #img-min, #img-left {
    min-width: 0;
  }

  .section-main {
    max-width: 90%;
  }

  .section-hero {
    margin-top: 5em;
  }

  .section-center {
    width: 100%;
  }

  #section-padding {
    padding-top: 2em;
  }
 
  .footer-section {
    max-width: 100%;
    width: 100%;
  }

  .grid-order1 {
    order: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
  }

  .grid-order2 {
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
  }

  .footer {
    padding: 4em 20px;
    text-align: center;
  }

  .footer-section {
    text-align: center;
  }

  .footer-align {
    float: none;
  }

  .footer-padding-right {
    padding-right: 0;
  }

  a.hover:focus, 
  a.hover:active, 
  a.hover:hover, 
  .selected {
    padding-bottom: 0.25em;
  }
    
}


/* larger than 4K */
@media (min-width: 1440px) {
  .nav-wrapper {
    width: 60em;
  }
}


