/* --------------------- FONT --------------------- */
@font-face {
  font-family: 'Adam.CG Pro';
  src: url('fonts/adam.cg_pro-webfont.eot');
  src: url('fonts/adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/adam.cg_pro-webfont.woff2') format('woff2'),
       url('fonts/adam.cg_pro-webfont.woff') format('woff'),
       url('fonts/adam.cg_pro-webfont.ttf') format('truetype'),
       url('fonts/adam.cg_pro-webfont.svg#adam.cg_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* --------------------- HEADER --------------------- */
header {
  width: 100%;
  z-index: 999;
  border-bottom: solid 0.1em #021C1E;
  margin-top: 10em;
}

nav {
  width: 100em;
  height: 5em;
  margin: 0 auto;
}

nav a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: 3em;
  color: #021C1E;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  color: #008B8B;
}

nav a:first-child {
  margin-left: 0;
}

/* regular logo */
.logo {
  display: inline-block;
  height: 5em;
  margin: 0 auto;
  padding: 1.5em 0;
  -webkit-transition: width 0.4s, padding 0.4s;
  -moz-transition: width 0.4s, padding 0.4s;
  -ms-transition: width 0.4s, padding 0.4s;
  -o-transition: width 0.4s, padding 0.4s;
  transition: width 0.4s, padding 0.4s;
}

/* navigation labels */
.sub-nav {
  float: right;
  display: inline-block;
  line-height: 5em;
}


/* --------------------- STYLING --------------------- */

body {
  font-family: "Josefin Sans";
  font-size: 12px;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Adam.CG Pro';
  font-size: 2em;
  color: #021C1E;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Adam.CG Pro';
  font-size: 2em;
  color: #2C7873;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  color: #008B8B;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  font-size: 1.75em;
  margin-bottom: 2em;
}

a {
  color: #008B8B;
  text-decoration: none;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #2F4F4F;
}

li {
  font-size: 1.1em;
}

.selected {
  color: #008B8B;
  display: inline-block;
}

.main-wrapper {
  width: 100em;
  margin: 0 auto;
}

.section {
  border-bottom: solid 0.1em #CCC;
  padding: 3em;
  margin-top: 2em;
  background-color: #FFF;
}

.section-without-header {
  padding-top: 14em;
}

.section-last {
  margin-bottom: 2em;
  border-bottom: none;
}

.section h1 {
  margin-top: 0;
}

.secondary-section {
  background-color: #FFF;
  border-bottom: solid 0.1em #CCC;
}

.secondary-section .section {
  margin: 0;
  border-bottom: none;
}

/* main page - title section */
.title-img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

/*.title-img img,*/
.title-img .title-img-front picture {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.title-img .title-img-back picture {
  position: relative;
  bottom: -0.5em;
}

.title-img-back picture {
  z-index: 1;
}

.title-img-front picture {
  z-index: 3;
}

picture img {
  width: 100%;
}


.title-img,
.footer.title-img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.title-text,
.title-text-mobile {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}

.title-text h1,
.title-text-mobile h1 {
  font-size: 9em;
  white-space: nowrap;
}

.title-text-first {
  position: absolute;
  z-index: 5;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}

.title-text-first h3 {
  color: #FFF;
  margin-top: 0;
  font-weight: 700;
}

.title-text-first p {
  width: 47.3em;
  color: #FFF;
  font-weight: 600;
}

.title-text-mobile {
  display: none;
}

/* main page - projects section */

.projects-section {
  margin-top: 2em;
}

.projects-img {
  padding: 0;
}

/* main page - interests section */

.interests-section {
  text-align: center;
}

.interests-section h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.interests-section p {
  margin: 0em;
}

.interests-img {
  padding: 0em 5em 1em 5em;
}

/* ordering elements */
.flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -ms-box-flex-wrap: wrap;
  -o-box-flex-wrap: wrap;
  flex-wrap: wrap;
}

.order1 {
  -webkit-box-ordinal-group: 1;  
  -moz-box-ordinal-group: 1;     
  -ms-flex-order: 1;     
  -webkit-order: 1;  
  order: 1;
}

.order2 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; 
}

/* footer section */
.footer .title-text {
  text-align: center;
  top: 50%;
}

.footer .title-text h1 {
  font-size: 3em;
}

.footer.title-img {
  height: 17em;
  background-color: #008B8B;
}

.footer.title-img img {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity:0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  background-color: #008B8B;
}

a.footer-img:hover,
a.footer-img:active,
a.footer-img:focus {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity: 0;
  opacity: 0;
}

.title-text h3,
.title-text h1 {
  color: #FFF;
  margin: 0.25em 0;
}

/* footer section - icons */
.icon-pad,
.icon-pad-render {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 0.25em;
}

.icon-pad:last-of-type,
.icon-pad-render:last-of-type {
  margin: 0;
}

a .icon {
  color: #FFF;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a .icon:hover,
a .icon:active,
a .icon:focus {
  color: #2F4F4F;
}

/* about page - header img */
.title-img-white-bg {
  background-color: #FFF;
  padding: 0 7em;
}

/* about page - title text */
.title-text-white-bg h1,
.title-text-white-bg p {
  color: #008B8B;
}

/* about page - section */
.main-section,
.interests-section {
  border: none;
}

.main-section h2 {
  text-align: center;
}

.secondary-section {
  background-color: #FFF;
}

/* projects page - section */
.section-centered p {
  width: 45em;
  margin: 0 auto;
}



/* --------------------- INTERACTION --------------------- */
.button {
  display: inline-block;
  background-color: #008B8B;
  padding: 0.75em 1.5em;
  margin: 1em 0;
  color: #FFF;
  text-align: center;
  border: none;

  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}

.button:hover, .button:active, .button-focus {
  background-color: #2F4F4F;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a .button {
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* Forms */
.contact-form input,
.contact-form textarea {
  display: block;
  width: 50%;
  padding: 0.25em;
  border: solid 0.1em #CCC;
}

.contact-form label {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.contact-form .button {
  padding: 0.75em;
  border: none;
}



/* --------------------- RESIZE --------------------- */

@media (max-width: 70rem) {
  header,
  .main-wrapper {
    width: 100%;
  }

  .header {
    padding-top: 12.8em;
  }

  .main-wrapper {
    padding: 0 2em;
  }

  .section-without-header {
    padding: 12.8em 0 0 0;
  }

  .logo {
    width: 5em;
    padding: 1em 0;
  }

  .logo-title {
    padding-bottom: 1.5em;
  }

  .small-logo {
    width: 4em;
    padding: 0.5em 0;
  }

  .sub-nav {
    padding: 1em;
  }

  .section {
    padding: 3em 1.5em;
  }

  .interests-img {
    padding: 0em 3em 1em 3em;
  }

  .title-text {
    top: 40%;
  }

  .title-text h1 {
    font-size: 6em;
  }

  .title-text-first p {
    width: 31.5em;
    font-weight: 500;
  }

  .title-text-first {
    top: 80%;
  }

  .title-img {
    width: auto;
    height: auto;
  }
}

@media (max-width: 45rem) {
  p {
    margin-bottom: 1em;
    font-size: 1.2em;
  }

  h1 {
    font-size: 4em;
    margin: 0.5em 0;
  }

  h2 {
    font-size: 3em;
    margin: 0.5em 0;
  }

  .header {
    padding-top: 7em;
  }

  .main-wrapper {
    padding: 0;
  }

  .section-without-header {
    padding: 7em 0 0 0;
  }

  .logo,
  .logo-title {
    display: none;
  }

  .small-logo {
    width: 3em;
  }


  .logo-mobile {
    display: block;
  }

  .button {
    width: 100%;
  }

  .section {
    padding: 2em 1em;
    margin: 1em 0;
  }

  .section-last {
    margin-bottom: 1em;
  }

  .interests-img {
    padding: 1em 0;
  }

  .title-text-first {
    margin: 0;
    padding: 1em;
    width: 100%;
  }

  .title-text-first p {
    width: 100%;
  }

  .title-header {
    display: none;
  }

  .title-text-mobile {
    display: block;
    text-align: center;
    top: 43%;
  }

  .title-text-mobile h1 {
    font-size: 6em;
    width: 100%;
  }

  .main-projects-section,
  .title-section img:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  /* ORDER */
  .order1 {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; 
  }

  .order2 {
    -webkit-box-ordinal-group: 1;  
    -moz-box-ordinal-group: 1;     
    -ms-flex-order: 1;     
    -webkit-order: 1;  
    order: 1;
  }

  .footer.title-img {
    width: auto;
    height: auto;
  }

  .footer .title-text h1 {
    font-size: 2em;
  }

  .footer .title-text h3 {
    font-size: 1.1em;
    color: #FFF;
  }
}




/* --------------------- STYLEGUIDE --------------------- */
code {
  background-color: #EFEFEF;
  padding: 0.5em 0.75em;
  display: block;

  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* logo section */
.logo-title-render {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 2em;
}

.logo-render {
  display: block;
}

/* typeface section */
.typeface-render p {
  margin: 0;
  text-align: justify;
}

/* color section */
.palette-pad {
  padding-right: 1.5em;
}

.palette-pad:last-of-type {
  padding-right: 0;
}

.palette-pad h4 {
  margin-bottom: 0;
  margin-top: 1em;
}

.palette-pad p {
  margin: 0;
}

.palette-box {
  display: inline-block;
  width: 100%;
  height: 7.5em;
}

.palette-teal {
  background-color: #008B8B;
}

.palette-dark-teal {
  background-color: #2F4F4F;
}

.palette-light-grey {
  background-color: #F2F2F2;
}

.palette-dark-grey {
  background-color: #343434;
}

/* intext link section */
.section-render {
  margin-bottom: 1em;
}

/* grids section */
.grid-style {
  background-color: #008B8B;
  border: 0.1em solid #fff;
  color: #fff;
  text-align: center;
  padding: 0.2em;
}


/* Resize */

@media (max-width: 70em) {
  /* form section */
  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  /* color section */
  .palette-pad {
    padding: 2em 0 0 0;
  }
}