/* --------------------- FONT --------------------- */

@font-face {
  font-family: 'Norwester';
  src: url('fonts/norwester.woff2') format ('woff2'), url('fonts/norwester.woff') format ('woff');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------ GRIDS ------------------------- */

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
  max-width: 80em;
  margin: 0 auto;
}

.project-item {
  border-radius: 0.5em;
  transition: transform .5s cubic-bezier(.31,2.71,.8,.9);
}

.grid-hero {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row dense;

  display: -ms-grid;
  -ms-grid-columns: 50% 50%;

  max-width: 60em;
  margin: auto;
}

.grid-row {
  max-width: 60em;
  margin: auto;
  display: -webkit-box;   
  display: -moz-box;      
  display: -ms-flexbox;   
  display: -webkit-flex;  
  display: flex;
}

.grid-center {
  display: grid;
  grid-template-columns: 100%;

  display: -ms-grid;
  -ms-grid-columns: 100%;

  justify-items: center;
}

.grid-2col {
  display: grid;
  grid-template-columns: 50% 50%;
  display: -ms-grid;
  -ms-grid-columns: 50% 50%;
}

.grid-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
}

.grid-pad {
  padding: 0 1em;
}

.direction-right {
  direction: rtl;
}

.align-center {
  align-items: center;
}




/* --------------------- HEADER --------------------- */
header {
  width: 100%;
}

nav a {
  font-family: 'Norwester', sans-serif;
  text-transform: uppercase;
  margin-left: 3em;
  color: #000;
  text-decoration: none;
  line-height: 3em;
}

nav a:hover {
  color: #F00084;
}

nav a:first-child {
  margin-left: 0;
}

.nav-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}

/* regular logo */
.logo {
  display: inline-block;
  height: 2em;
  margin: 0 auto;
  vertical-align: middle;

}

/* navigation labels */
.sub-nav {
  float: right;
  vertical-align: middle;
}


/* --------------------- STYLING --------------------- */

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background-size: contain;
  background-repeat: repeat;
  background-color: #FFF;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Norwester', sans-serif;
  font-size: 7em;
  color: #000;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-family: 'Norwester', sans-serif;
  font-size: 6em;
  color: #000;
  line-height: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-family: 'Norwester', sans-serif;
  font-size: 1.2em;
  line-height: 1.75em;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
}

.title-caption {
  font-family: 'PT sans', sans-serif;
  font-size: 1.75em;
  color: #000;
  font-weight: 700;
  line-height: 1.75em;
}

.sub-text {
  font-family: 'PT sans', sans-serif;
  font-size: 1.75em;
  color: #000;
  line-height: 1.75em;
  margin: 1em 0;
}

p {
  font-size: 1.25em;
  color: #000;
  line-height: 1.75em;
}

a {
  color: #F00084;
  text-underline-position: under;
  outline: none !important;
  display: inline-block;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus,
a:active,
a:focus #dark,
a:active #dark,
a:focus p,
a:active p {
  background-color: #F00084;
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#light {
  color: #FFF;
}

#dark {
  color: #000;
  text-shadow: none;
}

#selected {
  color: #F00084;
}

#selected:focus,
#selected:active {
  color: #FFF;
}

.main-wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding: 4em 0;
}

.main-wrapper:first-of-type {
  padding-top: 0;
}

#title {
  margin: 0.25em 0;
}

#section-padding {
  padding-top: 6em;
}

#content-indent {
  padding-left: 3rem;
}

#img-min {
  min-width: 50em;
}

#img-large {
  max-width: 125%;
}

#img-xlarge {
  max-width: 175%;
}

#img-left {
  direction: rtl
}

#align-top {
  vertical-align: top;
}

/* sections */

.section-content {
  width: 100%;
  overflow: hidden;
}

.section-hero {
  width: 100%;
}

.section-main {
  max-width: 80%;
  margin: 0 auto;
}

.section-center-small {
  width: 50%;
  margin: 0 auto;
}

.section-center {
  width: 75%;
  margin: 0 auto;
}

.section-next {
  margin-top: 4em;
}

.section-landing {
  margin-top: 8em;
}

.section-footer {
  text-align: center;
}

.section-footer h2 {
  margin-bottom: 0;
}

/* next project */

.project-next {
  max-height: 20em;
  overflow: hidden;
  text-align: center;
}

.project-next a {
  padding: 4em;
  max-width: 80em;
}

.project-next a:hover {
  transform: scale(1.05);
}

.project-next a:active,
.project-next a:focus {
  transform: scale(1);
  transition: none;
}

.project-img {
  padding-top: 2em;
}

.project-text {
  font-family: 'Norwester', sans-serif;
  font-size: 2em;
  line-height: 1.25em;
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 0.5em;
  padding: 0.5em;
  padding-bottom: 0;
}

.project-caption {
  padding: 1rem;
  padding-top: 0;
  margin: 0;
}

.project-item a {
  text-decoration: none;
  padding: 1em;
}

.project-item a:hover {
  transform: scale(1.05);
}

.project-item a:focus,
.project-item a:active {
  border-radius: 0.5em;
  transform: scale(1);
  transition: none;
}

.img-hero {
  min-width: 38em;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.title {
  position: relative;
  z-index: 1;
}

.margin-bot-adjust {
  margin-bottom: 0;
}

.margin-top-adjust {
  margin-top: 0;
}

.bg-container {
  position: relative;
}

#bg-title {
  z-index: 0;
}

.bg-right {
  position: absolute;
  top: 0;
  left: 20em;
  z-index: -1;
}

.bg-left {
  position: absolute;
  top: 0;
  right: 20em;
  z-index: -1;
}

.project-img-pad {
  padding: 4em 0;
}




/* ------------------------------------ ICONS/SVGS ---------------------------------------- */

.squares-left {
  position: absolute;
  z-index: -1;
  top: 2em;
  left: -25em;
}

.squares-left-long {
  position: absolute;
  z-index: -1;
  top: 2em;
  left: -23em;
}

.squares-right {
  position: absolute;
  z-index: -1;
  top: 13em;
  right: -15em;
}

.squares-right-long {
  position: absolute;
  z-index: -1;
  top: 2em;
  right: -12em;
}

.fa {
  padding-left: 0.25em;
}


/* ------------------------------------ PROJECTS PAGE ---------------------------------------- */
#default-color1 {
  color: #F00084;
  fill: #F00084;
}

#default-color2 {
  color: #FAB717;
  fill: #FAB717;
}

#default-color3 {
  color: #0894A3;
  fill: #0894A3;
}

#default-color4 {
  color: #14D6AF;
  fill: #14D6AF;
}

#default-color5 {
  color: #FFF;
  fill: #FFF;
}

/* Developer Center project */
#project-developer-center-bg {
  background-color: #F3F4F8;
}

#project-developer-center-color1 {
  color: #0145DF;
  fill: #0145DF;
}

#project-developer-center-color2 {
  color: #005C83;
  fill: #005C83;
}

#project-developer-center-color3 {
  color: #4E439B;
  fill: #4E439B;
}

#project-developer-center-color4 {
  color: #DC0A3C;
  fill: #DC0A3C;
}


/* The Scaffold project */
#project-scaffold-bg {
  background-color: #FAB717;
}


/* FUT 18 project */

#project-fut18-bg {
  background-color: #231E7D;
}

#project-fut18-color1 {
  color: #231E7D;
  fill: #231E7D;
}

#project-fut18-color2 {
  color: #CE2369;
  fill: #CE2369;
}

#project-fut18-color3 {
  color: #BEEE36;
  fill: #BEEE36;
}

#project-fut18-color4 {
  color: #FFF;
  fill: #FFF;
}

#project-fut18-color5 {
  color: #FB8936;
  fill: #FB8936;
}

/* FUT 19 project */

#project-fut19-bg {
  background-color: #0639AB;
}

#project-fut19-color1 {
  color: #1557E7;
  fill: #1557E7;
}

#project-fut19-color2 {
  color: #12FCC5;
  fill: #12FCC5;
}

#project-fut19-color3 {
  color: #FF0068;
  fill: #FF0068;
}

#project-fut19-color4 {
  color: #0639AB;
  fill: #0639AB;
}


/* --------------------- RESIZE --------------------- */

/* laptop size */
@media screen and (max-width: 80em) {
  .main-wrapper, 
  .nav-wrapper {
    width: 90%;
  }

  .section {
    padding-top: 5.75em;
  }

  .grid-projects {
    grid-gap: 0;
  }

  .project-item {
    border-radius: 0;
    padding: 0;
  }
    
}


/* smaller than 920px */
@media screen and (max-width: 920px) {
  header {
    padding: 0;
    font-size: 0.85em;
  }

  .main-wrapper {
    width: 90%;
    padding: 2em 0;
  }

  nav a {
    line-height: 2em;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.5em;
  }

  .title-caption {
    font-size: 1.4em;
  }

  .sub-text {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  #content-indent {
    padding-left: 0;
  }

  .img-hero {
    max-width: 100%;
    min-width: 100%;
  }

  #img-xlarge {
    max-width: 100%;
  }

  #img-min, #img-left {
    min-width: 0;
  }

  .section-main {
    max-width: 90%;
  }

  .section-center, .section-center-small {
    width: 100%;
  }

  #section-padding {
    padding-top: 2em;
  }

  .section-landing {
    margin-top: 6em;
  }
 
  .footer-section {
    max-width: 100%;
    width: 100%;
  }

  .project-next a {
    padding: 2em;
  }

  .project-img-pad {
    padding: 1em 0;
  }

  .grid-row {
    display: block;
  }

  .grid-pad {
    padding: 0em;
  }

  .grid-order {
    grid-row-end: 1;
    -ms-grid-row-end: 1;
  }

  .bg-right {
    left: 12em;
  }

  .grid-projects, .grid-hero, .grid-2col, .grid-3col, .grid-center {
    grid-template-columns: 100%;
  }

  .direction-right {
    direction: ltr;
  }

  #avatar {
    max-width: 4em;
  }

  .squares-right-long {
    right: -17em;
  }
    
}


/* larger than 4K */
@media screen and (min-width: 1440px) {
  .nav-wrapper {
    width: 60em;
  }
}


